@(posts: List[PostRepo])

@import helper.{form}

@main("Posts") {
    <h1>Posts</h1>

    <div id="#newpost">
        <a href="@routes.Post.getCreate()">Create Post</a>
    </div>

    <div id="#postlist">

        @for(post <- posts){

            <div class="postTitle">
                <h2>@post.title</h2>
            </div>

            <div class="postBody">
                <p>@post.body</p>
            </div>

            <div class="postButton">
            @form(routes.Post.getEdit(post.id)){
                <input type="submit" value="Edit"> }
            </div>

            <div class="postButton">
            @form(routes.Post.delete(post.id)){
                <input type="submit" value="Delete"> }
            </div>
        }
    </div>

    <div id="#newpost">
        <p>
            <a href="@routes.Post.getCreate()">Create Post</a>
        </p>
    </div>
}
